- var OG_TITLE       = (typeof meta.OG_TITLE       !== "undefined") ? meta.OG_TITLE       : 'Kido Yoji';
- var OG_DESCRIPTION = (typeof meta.OG_DESCRIPTION !== "undefined") ? meta.OG_DESCRIPTION : "Kido Yoji's portfolio";
- var OG_IMAGE = (typeof meta.OG_IMAGE !== "undefined") ? meta.OG_IMAGE : "https://kidoyoji.xyz/assets/img/og_image.png";
- var CURRENT_URL = (typeof meta.CURRENT_URL !== "undefined") ? meta.CURRENT_URL : "https://kidoyoji.xyz";
