include template/meta.pug
html(lang="ja")
	head
		base(href="/")
		include template/meta_tag.pug
		title Kido Yoji XYZ
		link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
		link(href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet")
		link(rel="stylesheet" href="./assets/css/app.css")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg.js")
	
	body
		div#landing-view
		app
		modal
		loader-spill
		loader
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js")
		script(type="text/javascript" src="./app/vendor.js")
		script(type="text/javascript" src="./app/bundle.js")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-59391945-2', 'auto');
			ga('send', 'pageview');
		
		
		
